# === Java ===
*.class
*.jar
!JobTrackerCLI/lib/*.jar
*.log
*.bak
*.tmp

# === Build & Tools ===
JobTrackerCLI/spotbugs-*/
JobTrackerCLI/checkstyle-*.xml
JobTrackerCLI/*report.txt

# === Python ===
__pycache__/
*.py[cod]
env/
venv/

# === Jupyter / Colab ===
.ipynb_checkpoints/

# === Web ===
node_modules/
dist/
.DS_Store
Thumbs.db

# === Editors ===
.vscode/
.idea/
*.swp
*.swo
*~

# === OS ===
.DS_Store
ehthumbs.db
